

.about-title{
  padding-bottom: 30px;
  font-size: 100px;
}
.about-description{
  font-size: 40px;
  padding-bottom: 30px;
}

.nba-logo{
  width: 400px;
  height: 400px;
  padding-left: 20px;
}

.about-details{
  font-size: 30px;
}

@media screen and (max-width:500px){

  .about-title{
    font-size: 70px;
  }

  .nba-logo{
    width: 280px;
    height: 300px;
  }

  
}