.creative{
  padding-top: 30px;
  width: 200px;
  height:200px;
}

.about-title{
  padding-bottom: 30px;
  font-size: 100px;
}
.about-description{
  font-size: 40px;
  padding-bottom: 30px;
}

.nba-logo{
  width: 400px;
  height: 400px;
  padding-left: 20px;
}

.about-details{
  font-size: 30px;
}