.highlight-player{
  padding-top: 30px;
}

.spotlight-title{
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.player-name{
  font-size: 50px;
}

.player-media{
  display: none;
}

@media screen and (max-width:970){
  .player-media{
    width: 100px;
    height: 1000px;
  }
}

@media screen and (max-width:1140px){
  .player-media{
    display:inline;
    height: 250px;
    width: 400px;
    padding-top: 30px;
  }
  .highlight-player{
    display:none;
  }

}

