.homeBanner {
  padding-top: 30px;
  padding-bottom: 20px;
  color: white;
}
.homeBanner-title{
  font-size: 70px;
}

@media screen and (max-width:1024){
  .banner-image{
    padding-top: 20px;
  }
}

@media screen and (max-width:500px){

  .banner-image{
    display: none;
  }

}