.nav{
  display: flex;
  justify-content: center;

}
.nav-links{
  justify-content: space-around;
}

@media screen and (max-width:500px){
  .nav-links{
    display: flex;
    flex-direction: column;
  }

}